@model SignalRAssignment.Models.Member
<!doctype html>
<html lang="en">
<head>
	<title>Login to system</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body class="img js-fullheight" style="background-image: url('~/images/bg.jpg'); background-repeat: no-repeat; background-size: cover;">

	<section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-6 text-center mb-5">
					<h2 class="heading-section">Login to system</h2>
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col-md-6 col-lg-4">
					<div class="login-wrap p-0">
						<h3 class="mb-4 text-center">Have an account?</h3>

						<form asp-action="Login" class="signin-form row gap-3 justify-content-around">
							<div class="form-group">
								<input name="Email" type="text" class="form-control" placeholder="Username" required>
							</div>
							<div class="form-group">
								<input name="Password" id="password-field" type="password" class="form-control" placeholder="Password" required>
							</div>
							<div class="form-group">
								<button type="submit" class="form-control btn btn-primary submit px-3">Login</button>
							</div>
							<div class="form-group d-md-flex align-content-center">
								<div class="w-50">
									<label class="checkbox-wrap checkbox-primary">
										Remember Me
										<input type="checkbox" checked>
										<span class="checkmark"></span>
									</label>
								</div>
								<div class="w-50 text-md-right">
									<a href="#" style="color: #fff">Forgot Password</a>
								</div>
							</div>
						</form>
					</div>

					@if (ViewBag.ErrorMessage != null)
					{
						<div class="alert alert-danger alert-dismissible fade show" role="alert">
							@ViewBag.ErrorMessage
							<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
						</div>
					}
				</div>
			</div>

		</div>
	</section>
	<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

</body>
</html>

